@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ajoute des styles personnalisés si nécessaire */
body {
  @apply bg-gray-50 text-gray-800;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-left {
  animation: slideInFromLeft 1s ease-out;
}

.animate-slide-in-right {
  animation: slideInFromRight 1s ease-out;
}

